.Button {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--c800);
    cursor: pointer;
    color: var(--c50);
    font-weight: 500;
    font-size: 1rem;

}