.FAQ {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title_faq {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .cnt_faq {
        width: 100%;
        height: 100%;
        overflow: auto;

    }

}